@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap');

:root {
	--main-color: #464b4f;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Epilogue', sans-serif;
	height: 100%;
}

.container {
	max-width: 1000px;
	min-width: 400px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.design-header {
	background: url('../images/header.jpg') no-repeat top center;
	background-size: cover;
	padding: 80px 0 50px;
	text-align: center;
	color: #fff;
	height: 100vh;
	box-sizing: border-box;
}

.design-logo {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto 15vh;
	background: url('../images/logo.png') no-repeat;
	background-size: cover;
	transition: all .3s;
}

.design-logo:hover {
	transform: scale(.9);
}

.design-header p.title {
	font-size: 80px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4vh;
}

.design-header p.desc {
	font-size: 18px;
	line-height: 30px;
	padding: 0 30%;
	margin-bottom: 21vh;
}

.design-arrow {
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 auto;
	background-image: url('../images/arrow.png');
	background-size: contain;
	transition: all .3s;
}

.design-arrow:hover {
	transform: scale(.85);
}

.design-info {
	background: #fff url('../images/bg.jpg') top center no-repeat;
	padding: 115px 0;
}

.design-author {
	margin-bottom: 100px;
	text-align: center;
	padding: 0 5%;
}

.design-author h1 {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 55px;
	color: var(--main-color);
	text-transform: uppercase;
}

.design-author p {
	font-size: 30px;
	line-height: 42px;
	font-weight: 300;
	color: var(--main-color);
}

.design-work h2 {
	font-size: 60px;
	font-weight: 700;
	color: var(--main-color);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 85px;
}

.design-work li {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 4%;
	color: var(--main-color);
}

.design-work li:last-child {
	margin-right: 0;
}

.design-work li h3 {
	font-size: 18px;
	line-height: 42px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.design-work li p {
	font-size: 18px;
	line-height: 30px;
	color: #888a8b;
}
